<li class="">
    <a href="@Url.Action("Index","Cliente")"><i class="fa fa-users"></i> Clientes</a>
</li>
<li class="">
    <a href="@Url.Action("Index","Pedido")">
        <i class="fa fa-shopping-cart"></i> Pedidos
    </a>
</li>